<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Projector for rent
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href!="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet")
	body
		.wrapper
			.flex-container
				header
					.text-container
						.text-container-main
							p Projector
							p for rent
							p.
								Model: Vivicine F30<br>
								Resolution: 1920x1080<br>
								Light Source: LED<br>
								Brightness: 4500 Lumens<br>
						.text-container-language
							p Choose language:
							p.selected english
							p
								a(href="indexrus.html") russian
				main
					p Prise & contacts:
					.joinus-container
						.price
							p.
								2000Rs for 3 hours.<br>
								After 1000Rs per hour.
					.adress-container
						div
							img(src="img/positionlittle.png" alt="positionlittle")
						div
							p.
								Goa<br> 
								Arambol<br>
								+91 74996 65426
							.img-container
								a(href="https://api.whatsapp.com/send?phone=+917499665426")
									img(src="img/social-whatsupp-color.png" alt="")
								a(href="tg://resolve?domain=astralpower")
									img(src="img/social-telegram-color.png" alt="")
								a(href="viber://chat?number=+917499665426")
									img(src="img/social-viber-color.png" alt="")
				footer
					p Developed by: Briws. 2019
					a(href="https://brightwiths.github.io/goaexcursions/index.html")
						img(src="img/goaexeng.jpg" alt="")