<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Проектор в Аренду
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(href!="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet")
	body
		.wrapper
			.flex-container
				header
					.text-container
						.text-container-main
							p Проектор
							p в аренду
							p.
								Модель: Vivicine F30<br>
								Разрешение: 1920x1080<br>
								Источник света: LED<br>
								Яркость: 4500 Lumens<br>
						.text-container-language
							p Choose language:
							p
								a(href="index.html") english
							p.selected russian
				main
					p Стоимость и контакты:
					.joinus-container
						.price
							p.
								2000 рупий за 3 часа.<br>
								Далее 1000 рупий в час.
					.adress-container
						div
							img(src="img/positionlittle.png" alt="positionlittle")
						div
							p.
								Гоа<br> 
								Арамболь<br>
								+91 74996 65426
							.img-container
								a(href="https://api.whatsapp.com/send?phone=+917499665426")
									img(src="img/social-whatsupp-color.png" alt="")
								a(href="tg://resolve?domain=astralpower")
									img(src="img/social-telegram-color.png" alt="")
								a(href="viber://chat?number=+917499665426")
									img(src="img/social-viber-color.png" alt="")
				footer
					p Разработал: Брайвс. 2019
					a(href="https://brightwiths.github.io/goaexcursions/indexru.html")
						img(src="img/goaexrus.jpg" alt="")